<ion-view view-title="Nuevo Profesor">
  <ion-content class="padding">

  
    <div class="list">

      <label class="item item-input item-floating-label">
        <span class="input-label">Nombres</span>
        <input type="text" ng-model="profesor.nombres" placeholder="Nombres">
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Apellidos</span>
        <input type="text" ng-model="profesor.apellidos" placeholder="Apellidos">
      </label>



        <label class="item item-input item-floating-label">
            <span class="input-label">Sexo</span>
            <input type="text" ng-model="profesor.Sexo" placeholder="Sexo">
            
        </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">fecha nacimiento(AAAA-MM-DD)</span>
        <input type="text" ng-model="profesor.fecha_nac" placeholder="Fecha nacimiento(AAAA-MM-DD)">
        
      </label>

           
        <button class="button button-block button-positive" ng-click="crearProfesor(profesor.nombres, 
        profesor.apellidos, profesor.Sexo, profesor.fecha_nac)">Crear Profesor</button>
    
   </div>

   
  </ion-content>
</ion-view>
